html {
    scroll-behavior: smooth;
}

body {
    background-image: url(PP.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.open {
    background-image: url(FB1.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 1;
    transition: 0.5s all ease;
}

.open h2 {
    margin-bottom: 20px;
    color: black;
    text-align: center;
    max-width: 600px;
}

.open .card {
    background-color: transparent;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px black;
    text-align: center;
}

.open .card h3 {
    margin-top: 20px;
    color: white;
}

.open .card img {
    height: 300px;
    border-radius: 50%;
}

.atas {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.atas img {
    height: 200px;
    margin-bottom: 20px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.atas h2 {
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
}

.atas h3 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: red;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
}